<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>CrowdResto | Submission</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">Crowdresto</h1>
        </div>
        <a id="hamburgerButton" aria-label="navigation-menu" class="header__menu">☰</a>
    </header>
    <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a aria-label="nav-home" href="#/home">Home</a></li>
            <li class="nav__item"><a aria-label="nav-favourite" href="#/favourite">Favourite</a></li>
            <li class="nav__item"><a aria-label="nav-about" href="https://github.com/Al-Mutawakkil" target="_blank" rel="noopener">About Me</a></li>
        </ul>
    </nav>
    <main id="mainContent"></main>
    <footer>
        <p>All Right Reserved &copy; Copyright 2021 - Crowd Resto. Created with <span>&hearts;</span>.</p>
    </footer>
</body>
</html>